rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Notification/{document} {
      allow create: if request.auth.uid == request.resource.data.naeyongh;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == resource.data.naeyongh;
    }

    match /users/{parent}/plannerVariableList/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == parent;
    }

    match /{path=**}/plannerVariableList/{document} {
      allow read: if true;
    }


    match /weeklyRank/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /monthlyRank/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /rules/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /users/{parent}/pointListEachAgg/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == parent;
    }

    match /{path=**}/pointListEachAgg/{document} {
      allow read: if true;
    }


    match /users/{parent}/studyDBbackupAgg/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == parent;
    }

    match /{path=**}/studyDBbackupAgg/{document} {
      allow read: if true;
    }


    match /log/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
